h1, h2, h3 {
    display: inline-block;
}

.Card-Title {
    font-size: 1.2em;
    line-height: 1em;
    font-weight: bolder;
}

.Card-Content {
    font-size: 1em;
    font-weight: bolder;
}

.Events {
    padding-top: 1em;
    padding-bottom: 1em;
}

.Left-Card {
    padding: 1em;
    color: #fff;
    height: 25em;
    text-align: match-parent;
    border: dashed 1px #aaa;
}

.Left-Card:hover {
    background: #000;
}

.Right-Card {
    border: dashed 1px #aaa;
    color: #fff;
    padding: 1em;
    height: 12em;
}

.Right-Card:hover {
    color: #fff;
    background: #000;
}

.Right-Bottom-Card {
    padding-top: 0.5em;
}

.Right-Top-Card {
    padding-bottom: 0.5em;
}

