.Home {
    margin-top: 0;
    background: #fff;
    /*background: url(https://edu-wenku.bdimg.com/v1/pc/viewThem/niunianxianding.png) no-repeat;*/
    background-size: 100% 24%;
    background-position-y: -38px;
}

.logo-lg {
    width: 12em;
    height: 12em;
}

.ribbon {
    font-size: 1.444rem;
    font-weight: 700;
    width: 320px;
    background: #f7296d;
    position: relative;
    text-align: center;
    line-height: 50px;
    letter-spacing: .5px;
    color: #fff;
    box-shadow: 0 1px 13px rgba(8, 8, 8, .97);
    top: 10px;
    left: -120px;
    transform: rotate(-40deg);
    height: 2em;
}

.scale-place-img {
    width: 1em;
    height: 1em;
    padding: 1px;
}

.wave_base {
    background: #df669f;
    height: 40em;
    width: 40em;
    padding: 1em;
    left:-35em;
    margin-top: -30em;
    border-radius: 43%;
    opacity: 0.5;
    position: relative;
    z-index: 11;
    transform: translate(50%, 50%) rotate(0);
    animation: rotate 9s linear infinite;
}

.wave {
    background: rgb(0, 160, 233);
    height: 55em;
    width: 55em;
    padding: 1em;
    margin-top: -60em;
    border-radius: 40%;
    left:-10em;
    opacity: 0.4;
    position: relative;
    z-index: 11;
    transform: translate(50%, 50%) rotate(0);
    animation: rotate 15s linear -5s infinite;
}

@keyframes rotate {
    50% {
        transform: translate(50%, 50%) rotate(180deg);
    }
    100% {
        transform: translate(50%, 50%) rotate(360deg);
    }
}
