.Home {
    margin-top: 0;
    background: #fff;
}

.logo-img {
    width: 5em;
    height: 5em;
    margin: 0;
    background: #000;
}

.logo-lg {
    width: 12em;
    height: 12em;
}

.ribbon {
    font-size: 23.104px;
    font-size: 1.444rem;
    font-weight: 700;
    width: 320px;
    background: #f7296d;
    position: relative;
    text-align: center;
    line-height: 50px;
    letter-spacing: .5px;
    color: #fff;
    box-shadow: 0 1px 13px rgba(8, 8, 8, .97);
    top: 10px;
    left: -120px;
    transform: rotate(-40deg);
    height: 2em;
}

.scale-place-img {
    width: 1em;
    height: 1em;
    padding: 1px;
}

.wave_base {
    background: rgb(0, 160, 233);
    height: 30em;
    padding: 1em;
    width: 150%;
    top: -10em;
    left: -13em;
    margin-top: -25em;
    border-radius: 50%;
    opacity: 0.5;
    position: relative;
    z-index: 11;
}

.wave {
    background: rgb(0, 160, 233);
    height: 25em;
    padding: 1em;
    width: 130%;
    top: -15em;
    left: -13em;
    margin-top: -25em;
    border-radius: 40%;
    opacity: 0.4;
    position: relative;
    z-index: 11;
}

.wave_base:before {
    transform: translate(-50%, -70%) rotate(0);
    animation: rotate 6s linear infinite;
}

.wave_base:after {
    transform: translate(-50%, -70%) rotate(0);
    animation: rotate 10s linear -5s infinite;
}

@keyframes rotate {
    50% {
        transform: translate(-50%, -73%) rotate(180deg);
    }
    100% {
        transform: translate(-50%, -70%) rotate(360deg);
    }
}
