.Home {
    margin-top: 0;
    background: #fff;
}

.logo-img {
    width: 5em;
    height: 5em;
    margin: 0;
    background: #000;
}

.logo-lg {
    width: 12em;
    height: 12em;
}

.ribbon {
    font-size: 23.104px;
    font-size: 1.444rem;
    font-weight: 700;
    width: 320px;
    background: #f7296d;
    position: relative;
    text-align: center;
    line-height: 50px;
    letter-spacing: .5px;
    color: #fff;
    box-shadow: 0 1px 13px rgba(8, 8, 8, .97);
    top: 10px;
    left: -120px;
    transform: rotate(-40deg);
    height: 2em;
}

.scale-place-img {
    width: 1em;
    height: 1em;
    padding: 1px;
}
