h1, h2, h3 {
    display: inline-block;
}

.Card-Title {
    font-size: 1.2em;
    line-height: 1em;
    font-weight: bolder;
    color: #eee;
}

.Card-Content {
    font-size: 1em;
    font-weight: bolder;
    color: #eee;
}

.Features {
    padding-top: 1em;
    padding-bottom: 1em;
}

.Card {
    border: dashed 1px #aaa;
    padding: 1em;
    min-height: 15em;
}

.Card:hover {
    background: #000;
    color:#eee;
}
