h1, h2, h3 {
    display: inline-block;
}

.textTitle {
    font-size: 4em;
}

.textContent {
    font-size: 3em;
}

.TestSplash {
    padding-top: 3em;
    padding-bottom: 3em;
}

.high-light-font {
    background: #000;
    color: #fff;
    margin-left: 0.5em;
    margin-right: 0.5em;
    border-radius: 100em;
    padding: 0.1em 0.5em;
}
