@font-face {
    font-family: zilla-slab;
    src: url("./static/zilla-slab/otf/ZillaSlab-Regular.otf");
}

* {
    font-family: zilla-slab, serif;
}

* {
    outline: none;
}

.root {
    padding: 0;
    margin: 0;
    background: #fff;
}

#root {
    background: #fff;
    padding: 0;
    margin: 0;
}

html {
    background: #fff;
    padding: 0;
    margin: 0;
}



